<!-- NOTE: remember to import the loading scss file in the page's scss -->
<!-- // LOADING -->
<!-- @import "_loading"; -->

<div id="loading_container">
	<canvas id="loading" width="300" height="300"></canvas>
	<h2 id="click_me_text" data-text="click&nbsp;me">click&nbsp;me</h2>
</div>
