<!-- NOTE: remember to import the glitch text scss file in the page's scss -->
<!-- // GLITCH TEXT -->
<!-- @import "_glitch_text"; -->

<h1 class="hero glitch layers" data-text="<%= text %> ">
	<span><%= text %></span>
</h1>
